In [2]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
from config import api_key
import eia
import datetime
import re

In [3]:
api = eia.API(api_key)

In [4]:
series=['TOTAL.TEICBUS.M','TOTAL.TERCBUS.M','TOTAL.TEACBUS.M','TOTAL.TXCCBUS.M','TOTAL.TXEIBUS.M','TOTAL.TXICBUS.M','TOTAL.TXRCBUS.M','TOTAL.TXACBUS.M','TOTAL.TETCBUS.M']

In [5]:
newdf=api.data_by_series(series='TOTAL.TECCBUS.M')
dataframe1=pd.DataFrame(newdf)
dataframe1.head()

          Total Energy Consumed by the Commercial Sector, Monthly (Trillion Btu)
1973 01                                            1079.310
1973 02                                            1001.920
1973 03                                             884.437
1973 04                                             735.461
1973 05                                             696.114

In [6]:
for x in series:
    series_search = api.data_by_series(series=x)
    df = pd.DataFrame(series_search)
    dataframe1=dataframe1.join(df, how="outer")

In [7]:
dataframe1

,"Total Energy Consumed by the Commercial Sector, Monthly (Trillion Btu)","Total Energy Consumed by the Industrial Sector, Monthly (Trillion Btu)","Total Energy Consumed by the Residential Sector, Monthly (Trillion Btu)","Total Energy Consumed by the Transportation Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Commercial Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Electric Power Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Industrial Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Residential Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Transportation Sector, Monthly (Trillion Btu)","Total Primary Energy Consumption, Monthly (Trillion Btu)"
1973 01,1079.310,2701.524,1932.187,1509.552,656.607,1691.096,2054.675,1313.816,1506.380,7226.265
1973 02,1001.920,2460.752,1687.255,1442.127,621.766,1511.458,1869.459,1150.011,1439.361,6594.709
1973 03,884.437,2579.613,1497.067,1564.016,490.154,1559.159,1944.295,970.362,1561.162,6524.198
1973 04,735.461,2550.210,1177.661,1482.632,362.003,1470.152,1924.207,709.631,1479.971,5944.336
1973 05,696.114,2741.810,1015.008,1624.436,289.109,1551.631,2070.447,544.596,1621.585,6074.551
1973 06,687.473,2641.221,933.663,1543.553,227.897,1709.752,1942.080,385.648,1540.532,5805.318
1973 07,693.949,2691.487,981.183,1587.202,197.526,1846.331,1999.819,326.179,1583.965,5954.498
1973 08,706.301,2817.613,1018.978,1649.550,206.942,1889.873,2111.198,338.036,1646.394,6194.365
1973 09,651.041,2661.997,956.550,1505.857,210.244,1664.842,2035.699,361.672,1502.988,5776.048
1973 10,693.462,2911.515,991.668,1580.742,266.381,1638.807,2232.462,461.932,1577.804,6177.455
1973 11,800.970,2937.298,1197.249,1585.217,389.370,1567.941,2274.070,707.132,1582.220,6521.876
1973 12,914.274,2927.596,1507.395,1537.891,504.794,1629.591,2261.618,956.291,1534.862,6889.701
1974 01,1039.088,2601.723,1823.499,1441.921,629.995,1663.689,1960.950,1212.515,1439.083,6906.707
1974 02,907.821,2504.584,1562.936,1341.826,533.849,1506.973,1900.645,1036.361,1339.339,6316.938
1974 03,863.512,2591.780,1436.363,1483.195,468.202,1589.502,1939.220,897.426,1480.500,6373.851
1974 04,754.176,2427.630,1215.416,1469.842,373.423,1512.953,1789.328,724.092,1467.268,5863.745
1974 05,688.286,2610.640,1010.945,1559.392,265.373,1630.562,1909.461,507.294,1556.574,5867.145
1974 06,655.169,2526.551,936.124,1528.118,215.945,1666.660,1848.969,388.946,1525.441,5644.753
1974 07,703.241,2687.414,1013.510,1581.456,196.698,1908.007,1963.265,339.266,1578.384,5988.038
1974 08,688.995,2735.222,987.592,1604.223,198.954,1865.990,2031.357,318.446,1601.286,6018.263
1974 09,645.205,2691.142,919.805,1458.890,216.105,1626.253,2057.094,359.285,1456.303,5713.814
1974 10,706.494,2907.338,999.326,1572.633,282.939,1625.206,2216.164,491.557,1569.924,6184.960
1974 11,773.723,2809.339,1141.133,1510.563,353.105,1600.048,2135.600,638.307,1507.699,6238.457
1974 12,969.399,2692.136,1607.437,1568.378,524.494,1709.402,2043.661,994.417,1565.376,6845.560
1975 01,990.791,2763.065,1758.226,1545.584,545.372,1741.385,2103.195,1125.159,1542.555,7059.014
1975 02,920.136,2275.417,1615.051,1361.954,519.577,1553.135,1674.000,1066.521,1359.325,6171.542
1975 03,892.445,2440.013,1538.328,1519.702,465.309,1638.241,1793.242,976.858,1516.838,6386.257
1975 04,823.414,2104.502,1366.550,1510.837,419.459,1540.673,1480.884,856.058,1508.229,5800.645
1975 05,698.717,2220.526,1034.664,1545.238,259.802,1619.351,1543.590,534.024,1542.378,5494.457
1975 06,686.931,2286.045,936.766,1529.658,205.580,1723.312,1601.696,381.986,1526.826,5438.115
...,...,...,...,...,...,...,...,...,...,...
2016 04,1345.719,2504.051,1332.979,2276.379,328.564,2686.606,1720.125,453.386,2270.448,7453.868
2016 05,1376.173,2561.910,1281.050,2373.175,264.937,2917.620,1726.804,315.730,2367.218,7589.128
2016 06,1464.233,2573.465,1520.454,2379.350,222.222,3403.962,1710.065,228.418,2372.835,7940.306
2016 07,1561.257,2647.659,1808.525,2455.743,221.987,3833.017,1750.856,218.257,2449.067,8479.555
2016 08,1568.878,2728.906,1762.425,2480.988,224.066,3796.744,1841.448,204.239,2474.699,8547.841
2016 09,1420.764,2540.375,1469.336,2323.521,229.905,3247.348,1737.493,221.871,2317.378,7756.993
2016 10,1397.126,2608.315,1310.497,2343.732,289.689,2908.527,1808.371,315.358,2337.726,7659.346
2016 11,1426.912,2585.887,1438.021,2276.575,382.363,2757.201,1806.188,510.949,2270.693,7724.267
2016 12,1737.632,2758.453,2231.317,2363.330,594.112,3225.109,1942.463,972.495,2356.552,9090.311
2017 01,1708.841,2729.008,2308.207,2232.525,607.046,3201.124,1936.218,1008.379,2225.813,8980.434
2017 02,1434.572,2433.791,1701.611,2054.305,464.590,2684.045,1708.472,719.048,2048.124,7622.006
2017 03,1561.848,2716.255,1765.360,2392.784,483.565,2931.643,1906.298,728.445,2386.297,8433.752
2017 04,1324.063,2554.257,1303.004,2279.014,308.498,2699.961,1773.487,405.206,2273.185,7457.019
2017 05,1387.991,2664.493,1316.432,2441.614,269.493,2970.603,1818.476,316.275,2435.683,7809.195
2017 06,1437.475,2639.826,1474.758,2419.439,230.948,3302.616,1781.585,243.219,2413.130,7973.908
2017 07,1529.550,2720.504,1736.529,2449.654,220.217,3722.376,1831.508,218.857,2443.278,8441.678
2017 08,1486.039,2701.287,1606.431,2510.400,226.573,3530.741,1827.840,214.875,2504.128,8307.883
2017 09,1378.067,2569.222,1371.172,2317.866,230.402,3107.623,1762.394,224.011,2311.896,7636.766
2017 10,1415.351,2669.856,1341.523,2419.842,295.508,2960.317,1851.508,325.584,2413.655,7845.024
2017 11,1496.851,2728.786,1609.941,2301.955,431.777,2874.263,1922.894,612.707,2295.892,8135.750
2017 12,1759.277,2827.926,2273.187,2376.847,619.543,3254.787,1991.519,1001.461,2369.928,9236.555
2018 01,1860.676,2834.223,2704.493,2253.971,694.804,3462.214,2060.678,1189.333,2246.335,9655.467
2018 02,1541.143,2520.578,1965.771,2049.620,533.718,2843.889,1810.114,846.118,2043.272,8075.048
2018 03,1618.098,2764.088,1896.218,2410.315,530.069,2947.168,1989.574,817.899,2404.009,8684.524
2018 04,1438.217,2595.157,1542.179,2315.488,404.872,2749.657,1839.870,587.255,2309.386,7885.539
2018 05,1435.837,2747.383,1378.514,2462.406,253.900,3128.758,1892.474,292.806,2456.202,8021.157
2018 06,1474.673,2679.517,1562.457,2431.309,228.150,3416.029,1843.755,235.152,2424.870,8149.256
2018 07,1556.004,2761.916,1782.894,2501.553,223.335,3762.883,1895.952,225.157,2495.040,8606.516
2018 08,1559.876,2871.840,1729.648,2545.495,227.456,3733.591,1991.439,215.682,2538.692,8707.549
2018 09,1422.358,2648.561,1488.834,2313.560,230.369,3253.682,1852.436,229.623,2307.205,7870.618

In [31]:
dataframe1=dataframe1.reset_index()
dataframe1=dataframe1.rename(columns={"index":"Time"})
dataframe1.head()

,Time,Time,"Total Energy Consumed by the Commercial Sector, Monthly (Trillion Btu)","Total Energy Consumed by the Industrial Sector, Monthly (Trillion Btu)","Total Energy Consumed by the Residential Sector, Monthly (Trillion Btu)","Total Energy Consumed by the Transportation Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Commercial Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Electric Power Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Industrial Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Residential Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Transportation Sector, Monthly (Trillion Btu)","Total Primary Energy Consumption, Monthly (Trillion Btu)",Year,Month
0,0,1973 01,1079.310,2701.524,1932.187,1509.552,656.607,1691.096,2054.675,1313.816,1506.380,7226.265,1973,01
1,1,1973 02,1001.920,2460.752,1687.255,1442.127,621.766,1511.458,1869.459,1150.011,1439.361,6594.709,1973,02
2,2,1973 03,884.437,2579.613,1497.067,1564.016,490.154,1559.159,1944.295,970.362,1561.162,6524.198,1973,03
3,3,1973 04,735.461,2550.210,1177.661,1482.632,362.003,1470.152,1924.207,709.631,1479.971,5944.336,1973,04
4,4,1973 05,696.114,2741.810,1015.008,1624.436,289.109,1551.631,2070.447,544.596,1621.585,6074.551,1973,05

In [16]:
dataframe1["Time"][0]

'1973 01 '

In [20]:
year = re.findall('....', (dataframe1['Time'][0]))[0]
month = re.findall('....', (dataframe1['Time'][0]))[1]

print(f"year = {year}")
print(f"month = {month}")

year = 1973
month =  01

In [27]:
year = []
month = []
counter = 0

In [28]:
for time in dataframe1['Time']:
    year.append(re.findall('....', (dataframe1['Time'][counter]))[0])
    month.append(re.findall('....', (dataframe1['Time'][counter]))[1])
    counter = counter + 1

In [29]:
dataframe1['Year'] = year
dataframe1['Month'] = month

In [30]:
dataframe1

,Time,"Total Energy Consumed by the Commercial Sector, Monthly (Trillion Btu)","Total Energy Consumed by the Industrial Sector, Monthly (Trillion Btu)","Total Energy Consumed by the Residential Sector, Monthly (Trillion Btu)","Total Energy Consumed by the Transportation Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Commercial Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Electric Power Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Industrial Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Residential Sector, Monthly (Trillion Btu)","Total Primary Energy Consumed by the Transportation Sector, Monthly (Trillion Btu)","Total Primary Energy Consumption, Monthly (Trillion Btu)",Year,Month
0,1973 01,1079.310,2701.524,1932.187,1509.552,656.607,1691.096,2054.675,1313.816,1506.380,7226.265,1973,01
1,1973 02,1001.920,2460.752,1687.255,1442.127,621.766,1511.458,1869.459,1150.011,1439.361,6594.709,1973,02
2,1973 03,884.437,2579.613,1497.067,1564.016,490.154,1559.159,1944.295,970.362,1561.162,6524.198,1973,03
3,1973 04,735.461,2550.210,1177.661,1482.632,362.003,1470.152,1924.207,709.631,1479.971,5944.336,1973,04
4,1973 05,696.114,2741.810,1015.008,1624.436,289.109,1551.631,2070.447,544.596,1621.585,6074.551,1973,05
5,1973 06,687.473,2641.221,933.663,1543.553,227.897,1709.752,1942.080,385.648,1540.532,5805.318,1973,06
6,1973 07,693.949,2691.487,981.183,1587.202,197.526,1846.331,1999.819,326.179,1583.965,5954.498,1973,07
7,1973 08,706.301,2817.613,1018.978,1649.550,206.942,1889.873,2111.198,338.036,1646.394,6194.365,1973,08
8,1973 09,651.041,2661.997,956.550,1505.857,210.244,1664.842,2035.699,361.672,1502.988,5776.048,1973,09
9,1973 10,693.462,2911.515,991.668,1580.742,266.381,1638.807,2232.462,461.932,1577.804,6177.455,1973,10
10,1973 11,800.970,2937.298,1197.249,1585.217,389.370,1567.941,2274.070,707.132,1582.220,6521.876,1973,11
11,1973 12,914.274,2927.596,1507.395,1537.891,504.794,1629.591,2261.618,956.291,1534.862,6889.701,1973,12
12,1974 01,1039.088,2601.723,1823.499,1441.921,629.995,1663.689,1960.950,1212.515,1439.083,6906.707,1974,01
13,1974 02,907.821,2504.584,1562.936,1341.826,533.849,1506.973,1900.645,1036.361,1339.339,6316.938,1974,02
14,1974 03,863.512,2591.780,1436.363,1483.195,468.202,1589.502,1939.220,897.426,1480.500,6373.851,1974,03
15,1974 04,754.176,2427.630,1215.416,1469.842,373.423,1512.953,1789.328,724.092,1467.268,5863.745,1974,04
16,1974 05,688.286,2610.640,1010.945,1559.392,265.373,1630.562,1909.461,507.294,1556.574,5867.145,1974,05
17,1974 06,655.169,2526.551,936.124,1528.118,215.945,1666.660,1848.969,388.946,1525.441,5644.753,1974,06
18,1974 07,703.241,2687.414,1013.510,1581.456,196.698,1908.007,1963.265,339.266,1578.384,5988.038,1974,07
19,1974 08,688.995,2735.222,987.592,1604.223,198.954,1865.990,2031.357,318.446,1601.286,6018.263,1974,08
20,1974 09,645.205,2691.142,919.805,1458.890,216.105,1626.253,2057.094,359.285,1456.303,5713.814,1974,09
21,1974 10,706.494,2907.338,999.326,1572.633,282.939,1625.206,2216.164,491.557,1569.924,6184.960,1974,10
22,1974 11,773.723,2809.339,1141.133,1510.563,353.105,1600.048,2135.600,638.307,1507.699,6238.457,1974,11
23,1974 12,969.399,2692.136,1607.437,1568.378,524.494,1709.402,2043.661,994.417,1565.376,6845.560,1974,12
24,1975 01,990.791,2763.065,1758.226,1545.584,545.372,1741.385,2103.195,1125.159,1542.555,7059.014,1975,01
25,1975 02,920.136,2275.417,1615.051,1361.954,519.577,1553.135,1674.000,1066.521,1359.325,6171.542,1975,02
26,1975 03,892.445,2440.013,1538.328,1519.702,465.309,1638.241,1793.242,976.858,1516.838,6386.257,1975,03
27,1975 04,823.414,2104.502,1366.550,1510.837,419.459,1540.673,1480.884,856.058,1508.229,5800.645,1975,04
28,1975 05,698.717,2220.526,1034.664,1545.238,259.802,1619.351,1543.590,534.024,1542.378,5494.457,1975,05
29,1975 06,686.931,2286.045,936.766,1529.658,205.580,1723.312,1601.696,381.986,1526.826,5438.115,1975,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,2016 04,1345.719,2504.051,1332.979,2276.379,328.564,2686.606,1720.125,453.386,2270.448,7453.868,2016,04
520,2016 05,1376.173,2561.910,1281.050,2373.175,264.937,2917.620,1726.804,315.730,2367.218,7589.128,2016,05
521,2016 06,1464.233,2573.465,1520.454,2379.350,222.222,3403.962,1710.065,228.418,2372.835,7940.306,2016,06
522,2016 07,1561.257,2647.659,1808.525,2455.743,221.987,3833.017,1750.856,218.257,2449.067,8479.555,2016,07
523,2016 08,1568.878,2728.906,1762.425,2480.988,224.066,3796.744,1841.448,204.239,2474.699,8547.841,2016,08
524,2016 09,1420.764,2540.375,1469.336,2323.521,229.905,3247.348,1737.493,221.871,2317.378,7756.993,2016,09
525,2016 10,1397.126,2608.315,1310.497,2343.732,289.689,2908.527,1808.371,315.358,2337.726,7659.346,2016,10
526,2016 11,1426.912,2585.887,1438.021,2276.575,382.363,2757.201,1806.188,510.949,2270.693,7724.267,2016,11
527,2016 12,1737.632,2758.453,2231.317,2363.330,594.112,3225.109,1942.463,972.495,2356.552,9090.311,2016,12
528,2017 01,1708.841,2729.008,2308.207,2232.525,607.046,3201.124,1936.218,1008.379,2225.813,8980.434,2017,01
529,2017 02,1434.572,2433.791,1701.611,2054.305,464.590,2684.045,1708.472,719.048,2048.124,7622.006,2017,02
530,2017 03,1561.848,2716.255,1765.360,2392.784,483.565,2931.643,1906.298,728.445,2386.297,8433.752,2017,03
531,2017 04,1324.063,2554.257,1303.004,2279.014,308.498,2699.961,1773.487,405.206,2273.185,7457.019,2017,04
532,2017 05,1387.991,2664.493,1316.432,2441.614,269.493,2970.603,1818.476,316.275,2435.683,7809.195,2017,05
533,2017 06,1437.475,2639.826,1474.758,2419.439,230.948,3302.616,1781.585,243.219,2413.130,7973.908,2017,06
534,2017 07,1529.550,2720.504,1736.529,2449.654,220.217,3722.376,1831.508,218.857,2443.278,8441.678,2017,07
535,2017 08,1486.039,2701.287,1606.431,2510.400,226.573,3530.741,1827.840,214.875,2504.128,8307.883,2017,08
536,2017 09,1378.067,2569.222,1371.172,2317.866,230.402,3107.623,1762.394,224.011,2311.896,7636.766,2017,09
537,2017 10,1415.351,2669.856,1341.523,2419.842,295.508,2960.317,1851.508,325.584,2413.655,7845.024,2017,10
538,2017 11,1496.851,2728.786,1609.941,2301.955,431.777,2874.263,1922.894,612.707,2295.892,8135.750,2017,11
539,2017 12,1759.277,2827.926,2273.187,2376.847,619.543,3254.787,1991.519,1001.461,2369.928,9236.555,2017,12
540,2018 01,1860.676,2834.223,2704.493,2253.971,694.804,3462.214,2060.678,1189.333,2246.335,9655.467,2018,01
541,2018 02,1541.143,2520.578,1965.771,2049.620,533.718,2843.889,1810.114,846.118,2043.272,8075.048,2018,02
542,2018 03,1618.098,2764.088,1896.218,2410.315,530.069,2947.168,1989.574,817.899,2404.009,8684.524,2018,03
543,2018 04,1438.217,2595.157,1542.179,2315.488,404.872,2749.657,1839.870,587.255,2309.386,7885.539,2018,04
544,2018 05,1435.837,2747.383,1378.514,2462.406,253.900,3128.758,1892.474,292.806,2456.202,8021.157,2018,05
545,2018 06,1474.673,2679.517,1562.457,2431.309,228.150,3416.029,1843.755,235.152,2424.870,8149.256,2018,06
546,2018 07,1556.004,2761.916,1782.894,2501.553,223.335,3762.883,1895.952,225.157,2495.040,8606.516,2018,07
547,2018 08,1559.876,2871.840,1729.648,2545.495,227.456,3733.591,1991.439,215.682,2538.692,8707.549,2018,08
548,2018 09,1422.358,2648.561,1488.834,2313.560,230.369,3253.682,1852.436,229.623,2307.205,7870.618,2018,09