In [115]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
from config import api_key

In [116]:
# assigning random values to variables for now
category_id = 40203
series_id = 'TOTAL.ARNFBUS.A'

In [117]:
# url with category id
url = f"http://api.eia.gov/series/?api_key={api_key}&category_id={category_id}"

#url with series id
url1 = f"http://api.eia.gov/series/?api_key={api_key}&series_id={series_id}"


#Electric system operating data
url4 = f"http://api.eia.gov/category/?api_key={api_key}&category_id=2123635"

#CO2 emissions
url5 = f"http://api.eia.gov/category/?api_key={api_key}&category_id=2251604"

#Electricity
url6 = f"http://api.eia.gov/category/?api_key=Y{api_key}&category_id=0"

In [118]:
print (api_key)

021bf1d89256205c8528b6d4475485b3

In [119]:
# Get fossil fuel information in JSON format
response = requests.get(url3).json()

# First element is general information, second is countries themselves
response

{'request': {'category_id': 711224, 'command': 'category'},
 'category': {'category_id': '711224',
  'parent_category_id': '371',
  'name': 'Total Energy',
  'notes': '',
  'childcategories': [{'category_id': 711225, 'name': 'Energy Overview'},
   {'category_id': 711226, 'name': 'Energy Consumption by Sector'},
   {'category_id': 711227, 'name': 'Petroleum'},
   {'category_id': 711228, 'name': 'Natural Gas'},
   {'category_id': 711229,
    'name': 'Crude Oil and Natural Gas Resource Development'},
   {'category_id': 711230, 'name': 'Coal'},
   {'category_id': 711231, 'name': 'Electricity'},
   {'category_id': 711232, 'name': 'Nuclear Energy'},
   {'category_id': 711233, 'name': 'Energy Prices'},
   {'category_id': 711234, 'name': 'Renewable Energy'},
   {'category_id': 711235, 'name': 'International Petroleum'},
   {'category_id': 711236, 'name': 'Environment'},
   {'category_id': 711237, 'name': 'Appendices'}],
  'childseries': []}}

In [120]:
#side note: api ending for CA monthly generation
#API CALL
#TO USEhttp://api.eia.gov/series/?api_key=YOUR_API_KEY_HERE&series_id=ELEC.GEN.ALL-CA-99.M SERIES
#NAMENet generation : all fuels : California : all sectors : monthly

In [123]:
#setting series id to code for "Day-ahead demand forecast for California (region), Hourly"
series_id = 'TOTAL.TECCBUS.M'
#url with series id
url1 = f"http://api.eia.gov/series/?api_key={api_key}&series_id={series_id}"

In [130]:
# Get fossil fuel information in JSON format
commercial = requests.get(url1).json()

commercial

{'request': {'command': 'series', 'series_id': 'TOTAL.TECCBUS.M'},
 'series': [{'series_id': 'TOTAL.TECCBUS.M',
   'name': 'Total Energy Consumed by the Commercial Sector, Monthly',
   'units': 'Trillion Btu',
   'f': 'M',
   'start': '197301',
   'end': '201809',
   'updated': '2018-12-19T15:06:53-0500',
   'data': [['201809', 1422.358],
    ['201808', 1559.876],
    ['201807', 1556.004],
    ['201806', 1474.673],
    ['201805', 1435.837],
    ['201804', 1438.217],
    ['201803', 1618.098],
    ['201802', 1541.143],
    ['201801', 1860.676],
    ['201712', 1759.277],
    ['201711', 1496.851],
    ['201710', 1415.351],
    ['201709', 1378.067],
    ['201708', 1486.039],
    ['201707', 1529.55],
    ['201706', 1437.475],
    ['201705', 1387.991],
    ['201704', 1324.063],
    ['201703', 1561.848],
    ['201702', 1434.572],
    ['201701', 1708.841],
    ['201612', 1737.632],
    ['201611', 1426.912],
    ['201610', 1397.126],
    ['201609', 1420.764],
    ['201608', 1568.878],
    ['201607', 1561.257],
    ['201606', 1464.233],
    ['201605', 1376.173],
    ['201604', 1345.719],
    ['201603', 1438.306],
    ['201602', 1538.569],
    ['201601', 1751.449],
    ['201512', 1554.28],
    ['201511', 1453.37],
    ['201510', 1406.791],
    ['201509', 1414.045],
    ['201508', 1519.911],
    ['201507', 1543.108],
    ['201506', 1451.809],
    ['201505', 1390.859],
    ['201504', 1352.369],
    ['201503', 1558.619],
    ['201502', 1706.192],
    ['201501', 1803.365],
    ['201412', 1629.453],
    ['201411', 1541.477],
    ['201410', 1400.223],
    ['201409', 1391.78],
    ['201408', 1493.383],
    ['201407', 1499.594],
    ['201406', 1446.674],
    ['201405', 1395.049],
    ['201404', 1348.026],
    ['201403', 1620.751],
    ['201402', 1629.345],
    ['201401', 1866.644],
    ['201312', 1704.033],
    ['201311', 1504.026],
    ['201310', 1392.066],
    ['201309', 1377.872],
    ['201308', 1502.145],
    ['201307', 1512.74],
    ['201306', 1423.788],
    ['201305', 1370.558],
    ['201304', 1352.715],
    ['201303', 1556.668],
    ['201302', 1538.467],
    ['201301', 1693.875],
    ['201212', 1578.832],
    ['201211', 1434.107],
    ['201210', 1390.354],
    ['201209', 1357.954],
    ['201208', 1510.498],
    ['201207', 1541.923],
    ['201206', 1427.436],
    ['201205', 1387.625],
    ['201204', 1294.988],
    ['201203', 1379.909],
    ['201202', 1483.397],
    ['201201', 1630.153],
    ['201112', 1618.441],
    ['201111', 1433.605],
    ['201110', 1399.013],
    ['201109', 1378.995],
    ['201108', 1553.393],
    ['201107', 1573.757],
    ['201106', 1461.116],
    ['201105', 1381.586],
    ['201104', 1350.382],
    ['201103', 1538.086],
    ['201102', 1536.271],
    ['201101', 1757.206],
    ['201012', 1756.889],
    ['201011', 1448.958],
    ['201010', 1362.825],
    ['201009', 1390.091],
    ['201008', 1546.704],
    ['201007', 1545.041],
    ['201006', 1499.888],
    ['201005', 1408.772],
    ['201004', 1305.673],
    ['201003', 1463.387],
    ['201002', 1581.875],
    ['201001', 1748.074],
    ['200912', 1717.144],
    ['200911', 1378.446],
    ['200910', 1383.915],
    ['200909', 1357.296],
    ['200908', 1505.142],
    ['200907', 1475.377],
    ['200906', 1454.171],
    ['200905', 1382.405],
    ['200904', 1374.921],
    ['200903', 1530.201],
    ['200902', 1525.312],
    ['200901', 1803.94],
    ['200812', 1698.333],
    ['200811', 1460.377],
    ['200810', 1420.703],
    ['200809', 1395.42],
    ['200808', 1517.827],
    ['200807', 1580.383],
    ['200806', 1514.621],
    ['200805', 1424.535],
    ['200804', 1406.385],
    ['200803', 1574.592],
    ['200802', 1647.495],
    ['200801', 1761.665],
    ['200712', 1677.287],
    ['200711', 1456.071],
    ['200710', 1422.802],
    ['200709', 1407.894],
    ['200708', 1615.819],
    ['200707', 1523.694],
    ['200706', 1469.83],
    ['200705', 1412.797],
    ['200704', 1404.713],
    ['200703', 1538.654],
    ['200702', 1624.888],
    ['200701', 1697.007],
    ['200612', 1581.929],
    ['200611', 1426.458],
    ['200610', 1415.596],
    ['200609', 1354.104],
    ['200608', 1556.056],
    ['200607', 1561.052],
    ['200606', 1463.668],
    ['200605', 1413.197],
    ['200604', 1333.455],
    ['200603', 1522.563],
    ['200602', 1506.853],
    ['200601', 1573.764],
    ['200512', 1680.37],
    ['200511', 1401.402],
    ['200510', 1371.659],
    ['200509', 1400.384],
    ['200508', 1554.915],
    ['200507', 1548.38],
    ['200506', 1473.674],
    ['200505', 1371.495],
    ['200504', 1326.291],
    ['200503', 1542.358],
    ['200502', 1491.857],
    ['200501', 1689.914],
    ['200412', 1675.012],
    ['200411', 1399.999],
    ['200410', 1364.401],
    ['200409', 1370.281],
    ['200408', 1452.121],
    ['200407', 1477.994],
    ['200406', 1392.852],
    ['200405', 1398.673],
    ['200404', 1338.349],
    ['200403', 1476.326],
    ['200402', 1588.111],
    ['200401', 1722.61],
    ['200312', 1587.143],
    ['200311', 1370.757],
    ['200310', 1338.775],
    ['200309', 1314.184],
    ['200308', 1478.503],
    ['200307', 1475.994],
    ['200306', 1349.899],
    ['200305', 1333.013],
    ['200304', 1323.797],
    ['200303', 1497.718],
    ['200302', 1545.424],
    ['200301', 1733.937],
    ['200212', 1615.221],
    ['200211', 1428.221],
    ['200210', 1397.943],
    ['200209', 1364.534],
    ['200208', 1466.508],
    ['200207', 1496.6],
    ['200206', 1398.815],
    ['200205', 1354.557],
    ['200204', 1349.533],
    ['200203', 1475.184],
    ['200202', 1424.002],
    ['200201', 1574.832],
    ['200112', 1518.444],
    ['200111', 1321.589],
    ['200110', 1339.015],
    ['200109', 1319.718],
    ['200108', 1500.509],
    ['200107', 1469.326],
    ['200106', 1389.708],
    ['200105', 1326.464],
    ['200104', 1309.959],
    ['200103', 1504.432],
    ['200102', 1457.394],
    ['200101', 1686.885],
    ['200012', 1624.956],
    ['200011', 1376.89],
    ['200010', 1281.194],
    ['200009', 1294.634],
    ['200008', 1496.039],
    ['200007', 1429.449],
    ['200006', 1389.741],
    ['200005', 1395.187],
    ['200004', 1315.251],
    ['200003', 1462.63],
    ['200002', 1489.012],
    ['200001', 1621.319],
    ['199912', 1446.719],
    ['199911', 1250.142],
    ['199910', 1248.231],
    ['199909', 1240.099],
    ['199908', 1409.92],
    ['199907', 1463.588],
    ['199906', 1336.753],
    ['199905', 1273.652],
    ['199904', 1278.823],
    ['199903', 1449.165],
    ['199902', 1402.676],
    ['199901', 1575.929],
    ['199812', 1432.059],
    ['199811', 1250.643],
    ['199810', 1221.419],
    ['199809', 1281.917],
    ['199808', 1397.241],
    ['199807', 1405.996],
    ['199806', 1318.049],
    ['199805', 1265.752],
    ['199804', 1206.86],
    ['199803', 1385.493],
    ['199802', 1316.148],
    ['199801', 1486.862],
    ['199712', 1464.773],
    ['199711', 1281.727],
    ['199710', 1230.443],
    ['199709', 1222.391],
    ['199708', 1304.216],
    ['199707', 1369.899],
    ['199706', 1241.795],
    ['199705', 1187.315],
    ['199704', 1196.159],
    ['199703', 1329.042],
    ['199702', 1330.49],
    ['199701', 1526.824],
    ['199612', 1411.29],
    ['199611', 1263.493],
    ['199610', 1150.561],
    ['199609', 1128.422],
    ['199608', 1254.85],
    ['199607', 1246.568],
    ['199606', 1187.622],
    ['199605', 1176.776],
    ['199604', 1164.671],
    ['199603', 1333.549],
    ['199602', 1375.362],
    ['199601', 1483.06],
    ['199512', 1423.768],
    ['199511', 1231.782],
    ['199510', 1125.169],
    ['199509', 1100.241],
    ['199508', 1284.168],
    ['199507', 1260.304],
    ['199506', 1137.741],
    ['199505', 1103.469],
    ['199504', 1116.77],
    ['199503', 1246.913],
    ['199502', 1282.259],
    ['199501', 1378.951],
    ['199412', 1276.56],
    ['199411', 1115.694],
    ['199410', 1062.602],
    ['199409', 1047.273],
    ['199408', 1168.778],
    ['199407', 1184.23],
    ['199406', 1155.107],
    ['199405', 1049.893],
    ['199404', 1073.519],
    ['199403', 1234.254],
    ['199402', 1288.997],
    ['199401', 1443.082],
    ['199312', 1284.759],
    ['199311', 1114.087],
    ['199310', 1038.563],
    ['199309', 1032.165],
    ['199308', 1164.236],
    ['199307', 1175.507],
    ['199306', 1087.079],
    ['199305', 1016.127],
    ['199304', 1070.676],
    ['199303', 1257.155],
    ['199302', 1243.866],
    ['199301', 1333.339],
    ['199212', 1311.462],
    ['199211', 1105.64],
    ['199210', 1024.908],
    ['199209', 1038.574],
    ['199208', 1079.479],
    ['199207', 1124.119],
    ['199206', 1037.381],
    ['199205', 1014.124],
    ['199204', 1052.211],
    ['199203', 1160.68],
    ['199202', 1179.044],
    ['199201', 1314.782],
    ['199112', 1248.307],
    ['199111', 1103.721],
    ['199110', 1036.452],
    ['199109', 1018.901],
    ['199108', 1122.28],
    ['199107', 1146.986],
    ['199106', 1070.148],
    ['199105', 1055.351],
    ['199104', 1026.76],
    ['199103', 1153.489],
    ['199102', 1152.726],
    ['199101', 1366.764],
    ['199012', 1241.668],
    ['199011', 1054.842],
    ['199010', 1030.22],
    ['199009', 1034.172],
    ['199008', 1136.629],
    ['199007', 1130.331],
    ['199006', 1072.306],
    ['199005', 1019.43],
    ['199004', 1041.2],
    ['199003', 1150.566],
    ['199002', 1140.222],
    ['199001', 1270.04],
    ['198912', 1367.195],
    ['198911', 1070.559],
    ['198910', 996.054],
    ['198909', 979.483],
    ['198908', 1077.756],
    ['198907', 1074.242],
    ['198906', 1013.791],
    ['198905', 989.677],
    ['198904', 1012.14],
    ['198903', 1188.077],
    ['198902', 1193.119],
    ['198901', 1235.342],
    ['198812', 1172.96],
    ['198811', 1000.426],
    ['198810', 949.334],
    ['198809', 924.294],
    ['198808', 1064.653],
    ['198807', 1044.33],
    ['198806', 973.082],
    ['198805', 923.512],
    ['198804', 951.389],
    ['198803', 1107.737],
    ['198802', 1181.152],
    ['198801', 1286.666],
    ['198712', 1135.19],
    ['198711', 960.669],
    ['198710', 922.516],
    ['198709', 891.913],
    ['198708', 962.391],
    ['198707', 988.738],
    ['198706', 924.903],
    ['198705', 900.659],
    ['198704', 913.464],
    ['198703', 1054.327],
    ['198702', 1086.185],
    ['198701', 1206.352],
    ['198612', 1110.799],
    ['198611', 936.285],
    ['198610', 868.027],
    ['198609', 867.448],
    ['198608', 912.615],
    ['198607', 968.962],
    ['198606', 901.532],
    ['198605', 861.909],
    ['198604', 871.68],
    ['198603', 1017.71],
    ['198602', 1084.682],
    ['198601', 1208.938],
    ['198512', 1168.883],
    ['198511', 912.821],
    ['198510', 859.413],
    ['198509', 839.351],
    ['198508', 907.194],
    ['198507', 912.32],
    ['198506', 839.208],
    ['198505', 836.259],
    ['198504', 868.993],
    ['198503', 994.251],
    ['198502', 1127.949],
    ['198501', 1187.349],
    ['198412', 1052.454],
    ['198411', 915.949],
    ['198410', 847.023],
    ['198409', 833.174],
    ['198408', 912.823],
    ['198407', 894.979],
    ['198406', 856.591],
    ['198405', 855.432],
    ['198404', 903.717],
    ['198403', 1056.81],
    ['198402', 1054.985],
    ['198401', 1261.425],
    ['198312', 1089.032],
    ['198311', 867.582],
    ['198310', 800.678],
    ['198309', 802.188],
    ['198308', 893.428],
    ['198307', 876.245],
    ['198306', 798.325],
    ['198305', 784.674],
    ['198304', 874.034],
    ['198303', 989.125],
    ['198302', 992.963],
    ['198301', 1170.237],
    ['198212', 1018.715],
    ['198211', 860.49],
    ['198210', 793.597],
    ['198209', 803.278],
    ['198208', 830.961],
    ['198207', 842.77],
    ['198206', 775.948],
    ['198205', 783.439],
    ['198204', 879.979],
    ['198203', 1001.867],
    ['198202', 1058.109],
    ['198201', 1213.657],
    ['198112', 1054.628],
    ['198111', 861.946],
    ['198110', 817.339],
    ['198109', 761.759],
    ['198108', 818.557],
    ['198107', 833.334],
    ['198106', 804.96],
    ['198105', 767.594],
    ['198104', 778.621],
    ['198103', 929.019],
    ['198102', 1001.534],
    ['198101', 1189.09],
    ['198012', 1071.372],
    ['198011', 878.078],
    ['198010', 784.572],
    ['198009', 756.043],
    ['198008', 804.422],
    ['198007', 821.063],
    ['198006', 765.708],
    ['198005', 750.53],
    ['198004', 799.022],
    ['198003', 986.711],
    ['198002', 1061.492],
    ['198001', 1102.43],
    ['197912', 1009.706],
    ['197911', 855.849],
    ['197910', 779.738],
    ['197909', 727.181],
    ['197908', 788.034],
    ['197907', 780.939],
    ['197906', 750.387],
    ['197905', 765.782],
    ['197904', 829.144],
    ['197903', 995.691],
    ['197902', 1148.996],
    ['197901', 1217.848],
    ['197812', 1035.578],
    ['197811', 839.772],
    ['197810', 763.629],
    ['197809', 748.418],
    ['197808', 806.325],
    ['197807', 793.815],
    ['197806', 763.584],
    ['197805', 765.406],
    ['197804', 775.855],
    ['197803', 1007.467],
    ['197802', 1081.65],
    ['197801', 1130.769],
    ['197712', 1033.847],
    ['197711', 809.447],
    ['197710', 736.815],
    ['197709', 721.805],
    ['197708', 771.813],
    ['197707', 785.466],
    ['197706', 741.922],
    ['197705', 734.629],
    ['197704', 752.308],
    ['197703', 878.851],
    ['197702', 1018.84],
    ['197701', 1223.633],
    ['197612', 1093.165],
    ['197611', 897.928],
    ['197610', 733.104],
    ['197609', 685.272],
    ['197608', 736.425],
    ['197607', 745.448],
    ['197606', 724.307],
    ['197605', 715.556],
    ['197604', 753.23],
    ['197603', 890.242],
    ['197602', 971.029],
    ['197601', 1118.587],
    ['197512', 962.577],
    ['197511', 737.377],
    ['197510', 692.031],
    ['197509', 657.008],
    ['197508', 717.022],
    ['197507', 715.817],
    ['197506', 686.931],
    ['197505', 698.717],
    ['197504', 823.414],
    ['197503', 892.445],
    ['197502', 920.136],
    ['197501', 990.791],
    ['197412', 969.399],
    ['197411', 773.723],
    ['197410', 706.494],
    ['197409', 645.205],
    ['197408', 688.995],
    ['197407', 703.241],
    ['197406', 655.169],
    ['197405', 688.286],
    ['197404', 754.176],
    ['197403', 863.512],
    ['197402', 907.821],
    ['197401', 1039.088],
    ['197312', 914.274],
    ['197311', 800.97],
    ['197310', 693.462],
    ['197309', 651.041],
    ['197308', 706.301],
    ['197307', 693.949],
    ['197306', 687.473],
    ['197305', 696.114],
    ['197304', 735.461],
    ['197303', 884.437],
    ['197302', 1001.92],
    ['197301', 1079.31]]}]}

In [138]:
units = commercial['series'][0]['units']

monthly_commercial = commercial['series'][0]['data']

units

'Trillion Btu'

In [137]:
for i in monthly_commercial:
    i[0].split

['201808', 1559.876]

In [141]:
commercial_monthly_df = pd.DataFrame(monthly_commercial, columns = ["time", "Trillion BTU"])

commercial_monthly_df.head()

     time  Trillion BTU
0  201809      1422.358
1  201808      1559.876
2  201807      1556.004
3  201806      1474.673
4  201805      1435.837

In [164]:
import datetime

In [177]:
commercial_monthly_df['time'][0]

'201809'

In [186]:
import re
year = re.findall('....', (commercial_monthly_df['time'][0]))[0]
month = re.findall('..', (commercial_monthly_df['time'][0]))[2]

print(f"year = {year}")
print(f"month = {month}")

year = 2018
month = 09

In [163]:
#commercial_monthly_df['year'] = (commercial_monthly_df['year']:4)
new = commercial_monthly_df["time"].str.split(":4", n = 1, expand = True) 

commercial_monthly_df["time"][0].split(4)

TypeError: must be str or None, not int

# Arima model time series
#day of week as an input value
#holiday or not?
#create training of one set of time; test on some time in future
#